<div style="width : 500px; margin : 0 auto; text-align : center;">
	<h1 style="color : blue;">홍길동님 회원가입 감사합니다</h1>
	<div>
		<p>우리 사이트에서만 쓰실 수 있는 감사 쿠폰을 드립니다</p>
		<p>
			<img src="http://localhost:8090/ch18/resources/coupon.jpg">
		</p>
	</div>
	<div>
		<p style="color : red;">빨간글씨부분</p>
		<p style="color : blue;">파란글씨부분</p>
		<img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjAxMjFfMiAg%2FMDAxNjQyNzM2MTMwNTA3.nlWqDz9hFQHz0zuFpjuE46rDMLI5UvXNRcXGa42slSsg.FfwFX__g36oWuPcz-C-Mj_mfipgoI2-Bkc6EhWzTdXQg.JPEG.kkokko8526%2Fphoto-1588988949118-c86ba9c9c225.jpg&type=a340">
	</div>
</div>