@charset "UTF-8";
* {
	margin : 0;
	padding : 0;
}
a {
	text-decoration : none;
	color : black;
}

fieldset {
	width : 600px;
	margin : 0 auto;
	text-align : center;
}

ul {
	overflow : hidden;
}

ul li {
	float : left;
	list-style : none;
	display : block;
	margin : 10px 40px;
}